extends layout
block content
 meta(http-equiv='refresh' content='10')
 nav(id="navMenu")
 div(style="margin-left:15%;padding:1px 16px;height:1000px;")
  .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h1.w3-center Sessions
                center
                    img(src='https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Database_copy_Amazon_RDS_Oracle_DB_Instance-512.png' style='width:120px; height:120px;')
            .w3-container
              table.w3-table-all
                tr.w3-amber
                    th SessionID
                    th Username
                    th Program
                    th TimeStamp
                each s in ativas
                    tr
                        td= s.id_ses
                        td= s.users_username
                        td= s.program
                        td= s.timestamp


        .w3-container(style = ' width:90%')
            canvas#myChart
        script.
            var sessoes = !{JSON.stringify(sessoes)}
            var i =0;
            var quant = []
            var datas = []
            var INTERVALO = 15
            var TEMPO = 2
            for(i = 0; i<60*TEMPO; i++){
             
                quant[i] = 0;
            }
            var t = new Date();
            for(i = 0; i<60*TEMPO;i++){
                var datetime = new Date( Date.now() - 1000 *15*i );
               datas[i] =  datetime.toLocaleTimeString();
            }
            i = 0;

            while(i<60*TEMPO){
               var h = new Date( Date.now() - 1000 * INTERVALO*i);
                var l = new Date( Date.now() - 1000 * INTERVALO*(i+1))
                var aux = []
                for(j in sessoes){
                    var k = new Date(sessoes[j].timestamp)
                    if(h > k && k > l && !aux.includes(sessoes[j].id_ses)){
                        quant[i]++;
                        aux.push(sessoes[j].id_ses)
                        //datas.push(sessoes[j].timestamp)
                    }
                }
                aux = []
                i++
            }
            datas.reverse()
            quant.reverse()
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: datas,
                datasets: [{ 
                    data: quant,
                    label: "Sessions",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                    ticks: {
                    }
                    }]
                },
                title: {
                display: true,
                text: 'SESSOES'
                }
            }
            });
        hr
        footer.w3-container.w3-teal
                adress Gerado por Grupo 6